# Defining transportation method: air, land, water.

## Conditions for aproximating the transportation method:

### Water:

- Importing country is an **island.**
- Importing country continent != partner country continent.

### Land:

- Importing country  **share border** with partner country .
- Same continent.
- Importing country  == partner country --> internal transport

### Air:

- Any country condition but **FOOD IS FRESH** (later)

In [26]:
import pandas as pd
import numpy as np

In [27]:
distance_df = pd.read_csv(r"..\data\FAOSTAT\clean_data\food_trading\country_distances_matrix_border_island.csv")

In [30]:
distance_df.head()

,country_from,continent_from,country_to,Continent_to,distance_in_km,same_continent,share_border,any_island_or_missing
0,Afghanistan,Asia,Afghanistan,Asia,0.000000,1,1.0,0
1,Afghanistan,Asia,Albania,Europe,4335.926901,0,0.0,0
2,Afghanistan,Asia,Algeria,Africa,5855.362822,0,0.0,0
3,Afghanistan,Asia,Andorra,Europe,5796.993207,0,NaN,0
4,Afghanistan,Asia,Angola,Africa,7596.963990,0,0.0,0

In [31]:
def get_transportation_method(row):
    if (row['any_island_or_missing'] == 1) or (row['same_continent'] == 0):
        return 'water'
    elif row['same_continent'] == 1 or (row['same_border'] == 1) or (row['distance_in_km'] == 0):
        return 'land'
    else:
        return 'pending'

In [32]:
distance_df['transportation_method'] = distance_df.apply(get_transportation_method, axis=1)

In [33]:
# Need to correct UK and ireland to be an island.
distance_df[distance_df['country_to'] == 'japan']

Empty DataFrame
Columns: [country_from, continent_from, country_to, Continent_to, distance_in_km, same_continent, share_border, any_island_or_missing, transportation_method]
Index: []

In [ ]:
distance_df[distance_df['transportation_method'] == 'land'].sample(100)

,country_from,continent_from,country_to,Continent_to,distance_in_km,same_continent,share_border,island_or_missing,transportation_method
16328,guinea-bissau,Africa,niger,Africa,1929.729376,1,0.0,0,land
12728,eritrea,Africa,niger,Africa,3965.318257,1,0.0,0,land
37354,somalia,Africa,angola,Africa,3750.325771,1,0.0,0,land
27064,morocco,Africa,gambia,Africa,2488.945469,1,0.0,0,land
32541,romania,Europe,poland,Europe,945.158334,1,0.0,0,land
...,...,...,...,...,...,...,...,...,...
8097,chile,South America,venezuela,South America,4900.989926,1,0.0,0,land
32908,rwanda,Africa,eswatini,Africa,2712.421085,1,0.0,0,land
5815,bulgaria,Europe,united kingdom,Europe,2014.540302,1,0.0,0,land
12407,eq. guinea,Africa,cape verde,Africa,3747.411423,1,NaN,0,land
517,algeria,Africa,ghana,Africa,3477.895530,1,0.0,0,land